.moreInfo_wrapper {
    text-align: center;
    margin: 1rem;
}

.moreInfo_link {
    color: $ruby;
}

.moreInfo_social {
    text-align: center;

    a {
        display: inline-block;
        margin: 1rem;
    }
}