#showcase {
    .coverCard {
        height: 100%;
    }
}

.showcase_card {
    margin-bottom: 2rem;
}

.showcase_card:nth-child(3) {
    @include media('below-tablet') {
        display: none;
    }
}

.showcase_name {
    font-size: 1.2rem;
    margin: 1em 0;
    color: $gray-6;
}

.showcase_description {
    font-size: 0.9rem;
    line-height: 1.5em;
    color: $gray-4;
}