html {
    overflow-x: hidden;
    font-family: customSet--sans;
    font-size: $base-font-size;
    font-weight: 400;
    color: $black;
}


body {
    // extra space for heading
    margin-top: 72px;
}

a {
    text-decoration: none;
    color: $black;
}